/* Drop down */
.dropdown {
    position: relative;
    display: grid;
    place-items: center;
    height: calc(var(--font-size-med) / 1.05);
    width: calc(var(--font-size-med) / 1.05);
    font-size: var(--font-size-small);
    border: solid 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: var(--primary-color);
    user-select: none;
    text-transform: capitalize;
    transition: 0.25s ease-out;
}

.dropdown[data-large = "true"] {
    width: calc((var(--font-size-med) / 1.05) * 1.50);
}

.dropdown__menu {
    position: absolute;
    top: 100%;
    z-index: 3;
    display: block;
    width: calc(var(--font-size-med) / 1.05);
    background-color:var(--secondary-color);
    border: solid 1px rgba(0, 0, 0, 0.25);
    border-top: none;
    color: var(--primary-color);
    list-style: none;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    text-align: center;
    text-transform: capitalize;
}

.dropdown[data-large = "true"]  .dropdown__menu {
    width: calc((var(--font-size-med) / 1.05) * 1.50);
}

.dropdown[data-visible = "visible"] > .dropdown__menu {
    pointer-events: visible;
    opacity: 1;
}

.dropdown__option{
    position: relative;
    display: grid;
    place-items: center;
    height: calc(var(--font-size-med) / 1.15);
    transition: 0.25s ease-out;
}

/* Psudeo Element */
.dropdown::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 0;
    width: 100%;
    background-color: var(--primary-color);
    content: "";
    transition: inherit;
}

/* Animation */

.dropdown[data-visible = "visible"],
.dropdown:hover {
    color: var(--secondary-color);
}

.dropdown[data-visible = "visible"]::before,
.dropdown:hover::before{
    height: 100%;
}

.dropdown__option:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


