/* Word Search */
.wordsearch {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: calc(100dvh - (calc(var(--padding-size-small) / 2) * 1.95) - var(--font-size-med));
    font-family: var(--secondary-font);
    background-color: var(--secondary-color);
}

.wordsearch__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--padding-size-small) * 2);;
    padding: 0 var(--padding-size-small);
}

.wordsearch .wordle__footer {
    padding: calc(var(--padding-size-very-small) * 1.50) var(--padding-size-small) calc(var(--padding-size-small) / 3);
}

.wordsearch .wordle__message {
    font-size: calc(var(--font-size-small) * 1.15);
}

/* Tutorial */
.wordsearch-tutorial__container {
    width: max-content;
    border: solid 1px var(--primary-color);
}

.wordsearch .wordle-tutorial__example-row {
    margin-top: 0
}

.wordsearch .wordle-gameboard__cell {
    border: none;
}

.wordle-tutorial__example-row-highlight {
    display: flex;
    margin-top: calc(var(--padding-size-very-small) / 2);
    width: max-content;
    background-color: var(--primary-color);
    border: solid 1px var(--primary-color);
    color: var(--secondary-color);
}

.wordle-tutorial__example-row-highlight .wordle-gameboard__cell {
    width: calc(var(--padding-size-small) * 1.35);
    font-size: calc(var(--font-size-small) * 1.50);
    opacity: 1;
}

/* Stage Page */

.wordle-overly__stage-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--padding-size-very-small) / 4.50);
    padding: var(--padding-size-very-small) 0;
    margin-bottom: calc(var(--padding-size-very-small) / 2);
    justify-content: center;
    border-top: solid 1px rgba(0, 0, 0, 0.25);
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}

.wordle-overly__stage-information .wordle__information-format {
    margin-top: calc(var(--padding-size-small) / 1.50);
    text-transform: none;
}

.wordle-overly__stage-information .wordle__information-format:nth-child(-n + 2) {
    margin-top: 0;
}

/* GameBoard */
.wordsearch__gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80dvh;
    aspect-ratio: 1 / 1;
    border: solid 1px var(--primary-color);
    cursor: pointer;
    user-select: none;
}

.wordsearch-gameboard__row {
    display: flex;
    width: 100%;
}

.wordsearch-gameboard__cell {
    display: grid;
    place-items: center;
    flex: 1;
    font-weight: 400;
    aspect-ratio: 1 / 1;
    text-transform: uppercase;
    transition: 0.05s ease-out;
    user-select: none;
}

/* Word List */
.wordsearch__wordlist {
    display: flex;
    flex-direction: column;
    padding-left:var(--padding-size-small);
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.wordsearch__wordlist h4 {
    padding-bottom: var(--padding-size-very-small);
    font-size: calc(var(--font-size-med) * 1.15);
    font-weight: 400;

}
.wordsearch__wordlist ul {
    display: grid;
    gap: var(--padding-size-very-small);
    column-gap: var(--padding-size-small);
    padding: 0 var(--padding-size-very-small);
    margin: 0 auto;
    align-items: center;
    height: 70dvh;
    width: max-content;
    font-size: var(--font-size-small);
    list-style: none;
    overflow-y: auto;
}

.wordsearch-tutorial__example-list span,
.wordsearch__wordlist ul li[data-found = "true"] {
    text-decoration: line-through;
    text-decoration-thickness: 0.15rem;
}

/* Animation */
.wordsearch-gameboard__cell:hover {
    background: rgba(0, 0, 0, 0.25);
}