/* Loader */
.loader {
    display: grid;
    height: 100dvh;
    place-items: center;
    background-color: var(--secondary-color);
}

.loader__animation {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loader__animation div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background-color: var(--primary-color);
    animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader__animation div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.loader__animation div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.loader__animation div:nth-child(3) {
    left: 56px;
    animation-delay: 0s;
}

@keyframes loading {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}