/* Format
    - Position / Position Format (Top = right - bot - left)
    - z index
    - Displat / Display Format
    - gap/padding/marging
    - aligments
    - size
    - font
    - extras
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* CSS */
@import "./components/app/extra.css";
@import "./components/nav/nav.css";

:root {
    /* Color */
    --primary-color: #25292c;
    --secondary-color: #f5f5f5;

    /* Fonts */
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Lora", serif;

    /* Font sizes  */
    --font-size-med: clamp(2rem, max(2rem, 2.5vmax), max(3rem, 3.5vmax));
    --font-size-large: clamp(5rem, max(6rem, 6.5vmax), max(7rem, 7.5vmax));

    /* Padding/Margin */
    --padding-size-small: clamp(1rem, max(2rem, 3vmax), max(4rem, 5vmax));
    --padding-size-med: clamp(2rem, max(4rem, 5vmax), max(6rem, 7vmax));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Home */
/* Header */
.home__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.home__header-title {
    position: relative;
    padding-left: calc(var(--font-size-large) * 1.075);
    font-family: var(--primary-font);
    font-size: var(--font-size-large);
    font-weight: 600;
}

.home__header-subtitle {
    font-family: var(--secondary-font);
    font-size: calc(var(--font-size-med) / 1.025);
    font-weight: 600;
    opacity: 0.75;
}

/* Main */
.home__main {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: var(--secondary-color);
}

.home-main__display-container {
    display: flex;
    flex: 1;
}

/* Pseudo Element */
.home__header-title::before {
    position: absolute;
    top: 50%;
    left: 0;
    height: calc(var(--font-size-large) * 1.075);
    aspect-ratio: 1 / 1;
    background: url(/icons/logo-white.svg) no-repeat center / contain;
    content: "";
    translate: 0 -50%;
}


/* GameDisplay */
.gamedisplay__content-display {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-row: 0.5fr 1fr;
    flex: 1;
    padding: calc(var(--padding-size-small)  / 1.25) var(--padding-size-small);;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.gamedisplay__content-name {
    font-size: calc(var(--font-size-large) / 1.5);
    text-align: center;
}

.gamedisplay__image-container {
    grid-row: 2;
}

.gamedisplay__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}