/* Format
    - Position / Position Format (Top = right - bot - left)
    - z index
    - Displat / Display Format
    - gap/padding/marging
    - aligments
    - size
    - font
    - extras
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* CSS */
@import "./components/app/extra.css";
@import "./components/nav/nav.css";
@import "./components/game-display/gamedisplay.css";

:root {
    /* Color */
    --primary-color: #25292c;
    --secondary-color: #f5f5f5;

    /* Fonts */
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Lora", serif;

    /* Font sizes  */
    --font-size-small: clamp(1rem, 0.5rem + 1.5vh, 2rem);
    --font-size-med: clamp(2rem, 1.5rem + 2vh, 3rem);
    --font-size-large: clamp(5rem, 5rem + 2vh, 7rem);

    /* Padding/Margin */
    --padding-size-very-small: clamp(0.25rem, 0.5rem + 0.75vh, 1rem);
    --padding-size-small: clamp(1rem, 1.5rem + 1.25vh, 4rem);
    --padding-size-med: clamp(2rem, max(4rem, 5vmax), max(6rem, 7vmax));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Home */
/* Header */
.home__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.home__header-title {
    position: relative;
    padding-left: calc(var(--font-size-large) * 1.075);
    font-family: var(--primary-font);
    font-size: var(--font-size-large);
    font-weight: 600;
}

.home__header-subtitle {
    font-family: var(--secondary-font);
    font-size: var(--font-size-med);
    font-weight: 600;
    opacity: 0.75;
}

.home__main {
    display: flex;
    flex-direction: column;
    max-height: 100dvh;
    background-color: var(--secondary-color);
}

.home__display {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.home_display-inner {
    display: flex;
}

.home__button-container {
    display: flex;
    border-top: solid 1px var(--primary-color);
}

.home__page-button {
    padding: calc(var(--padding-size-small) / 1.35) 0;
    width: 50%;
    border: none;
    cursor: pointer;
    transition: 0.35s ease-in-out;
}

.home__button-container .home__page-button:nth-child(1) {
    background: url(/icons/arrow-left.svg) no-repeat center / contain;
}

.home__button-container .home__page-button:nth-child(2) {
    background: url(/icons/arrow-right.svg) no-repeat center / contain;
    border-left: solid 1px var(--primary-color);
}

/* Pseudo Element */
.home__header-title::before {
    position: absolute;
    top: 50%;
    left: 0;
    height: calc(var(--font-size-large) * 1.075);
    aspect-ratio: 1 / 1;
    background: url(/icons/logo-white.svg) no-repeat center / contain;
    content: "";
    translate: 0 -50%;
}

/* Animation */
.home__button-container .home__page-button:nth-child(1):hover {
    background: url(/icons/arrow-left-alt.svg) no-repeat center / contain;
    background-color: var(--primary-color);
}

.home__button-container .home__page-button:nth-child(2):hover  {
    background: url(/icons/arrow-right-alt.svg) no-repeat center / contain;
    background-color: var(--primary-color);
}
