/* Format
    - Position / Position Format (Top = right - bot - left)
    - z index
    - Displat / Display Format
    - gap/padding/marging
    - aligments
    - size
    - font
    - extras
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS */
@import "./components/app/extra.css";
@import "./components/page-transition/page-transtion.css";
@import "./page/home/home.css";
@import "./components/nav/nav.css";
@import "./components/game-display/gamedisplay.css";
@import "./components/dropdown/dropdown.css";
@import "./page/loader/loader.css";
@import "./page/wordle/wordle.css";
@import "./page/error/error.css";

:root {
    /* Color */
    --primary-color: #25292c;
    --secondary-color: #f5f5f5;

    /* Fonts */
    --primary-font: "Raleway", sans-serif;
    --secondary-font: "Lora", serif;

    /* Font sizes  */
    --font-size-small: clamp(1rem, 0.50rem + 0.75vw, 2rem);
    --font-size-med: clamp(2rem, 0.50rem + 2vw, 4rem);
    --font-size-large: clamp(3rem, 2rem + 5.75vw, 10rem);

    /* Padding/Margin */
    --padding-size-very-small: clamp(0.25rem, 0.15rem + 0.75vw, 1.5rem);
    --padding-size-small: clamp(1rem, 0.35rem + 2vw, 4rem);
    --padding-size-med: clamp(1.50rem, 1.25rem + 4vw, 7rem);
    --padding-size-large: clamp(2rem, 2rem + 7vw, 10rem);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Word Search */
.wordsearch {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: calc(100dvh - (calc(var(--padding-size-small) / 2) * 1.95) - var(--font-size-med));
    font-family: var(--secondary-font);
    background-color: var(--secondary-color);
}

.wordsearch__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--padding-size-small) * 2);;
    padding: 0 var(--padding-size-small);
}

.wordsearch .wordle__footer {
    padding: calc(var(--padding-size-very-small) * 1.50) var(--padding-size-small) calc(var(--padding-size-small) / 3);
}

.wordsearch .wordle__message {
    font-size: calc(var(--font-size-small) * 1.15);
}

/* Tutorial */
.wordsearch-tutorial__container {
    width: max-content;
    border: solid 1px var(--primary-color);
}

.wordsearch .wordle-tutorial__example-row {
    margin-top: 0
}

.wordsearch .wordle-gameboard__cell {
    border: none;
}

.wordle-tutorial__example-row-highlight {
    display: flex;
    margin-top: calc(var(--padding-size-very-small) / 2);
    width: max-content;
    background-color: var(--primary-color);
    border: solid 1px var(--primary-color);
    color: var(--secondary-color);
}

.wordle-tutorial__example-row-highlight .wordle-gameboard__cell {
    width: calc(var(--padding-size-small) * 1.35);
    font-size: calc(var(--font-size-small) * 1.50);
    opacity: 1;
}

/* GameBoard */
.wordsearch__gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80dvh;
    aspect-ratio: 1 / 1;
    border: solid 1px var(--primary-color);
    cursor: pointer;
    user-select: none;
}

.wordsearch-gameboard__row {
    display: flex;
    width: 100%;
}

.wordsearch-gameboard__cell {
    display: grid;
    place-items: center;
    flex: 1;
    font-weight: 400;
    aspect-ratio: 1 / 1;
    text-transform: uppercase;
    transition: 0.05s ease-out;
    user-select: none;
}

/* Word List */
.wordsearch__wordlist {
    display: flex;
    flex-direction: column;
    padding-left:var(--padding-size-small);
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.wordsearch__wordlist h4 {
    padding-bottom: var(--padding-size-very-small);
    font-size: calc(var(--font-size-med) * 1.15);
    font-weight: 400;

}
.wordsearch__wordlist ul {
    display: grid;
    gap: calc(var(--padding-size-very-small));
    align-items: center;
    height: 70dvh;
    font-size: var(--font-size-small);
    list-style: none;
    overflow-y: auto;
}

.wordsearch-tutorial__example-list span,
.wordsearch__wordlist ul li[data-found = "true"] {
    text-decoration: line-through;
    text-decoration-thickness: 0.15rem;
}

/* Animation */
.wordsearch-gameboard__cell:hover {
    background: rgba(0, 0, 0, 0.25);
}