/* Nav */
.nav {
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: calc(var(--padding-size-small) / 2.25) var(--padding-size-small);
    font-family: var(--primary-font);
    align-items: center;
    background-color: var(--secondary-color);
    border-bottom: solid 1px var(--primary-color);
    color: var(--primary-color);
}

.nav__title {
    position: relative;
    padding-left: var(--font-size-med);
    width: max-content;
    font-size: calc(var(--font-size-med) / 1.20);
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
}

.nav__location {
    font-size: calc(var(--font-size-med) / 1.05);
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}

.nav__menu-button {
    justify-self: end;
    height: calc(var(--font-size-med) * 1.05);
    aspect-ratio: 1 / 1;
    background: url(/icons/menu.svg) no-repeat center / contain;
    border: none;
    cursor: pointer;
}

/* Menu */
.nav__menu {
    position: fixed;
    top: 0;
    z-index: 999;
    height: 0;
    width: 100%;
    background-color: var(--primary-color);
    transition: 0.5s;
    overflow: hidden;
}

.nav__menu[data-open="true"] {
    height: 100dvh;
}

.nav-menu__button-container {
    display: flex;
    justify-content: end;
}

.nav-menu__cancel {
    margin: calc(var(--padding-size-small) / 2) var(--padding-size-small);
    background: url(/icons/cancel.svg) no-repeat center / contain;
    opacity: 0;
    transition-delay: 1s;
    transition: 0.5s;
    visibility: hidden;
}

.nav__menu[data-open="true"] .nav-menu__cancel {
    opacity: 1;
    visibility: visible;
}

.nav-menu__link-container {
    padding: var(--padding-size-med) var(--padding-size-small);
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding-size-small) / 1.5);
    list-style: none;
    font-family: var(--secondary-font);
    font-size: calc(var(--font-size-large) / 1.5);
}

.nav-menu__link {
    position: relative;
    width: 100%;
    color: var(--secondary-color);
    text-decoration: none;

}

/* Pseudo Element */
.nav__title::before {
    position: absolute;
    top: 50%;
    left: 0;
    height: var(--font-size-med);
    aspect-ratio: 1 / 1;
    background: url(/icons/logo.svg) no-repeat center / contain;
    content: "";
    translate: 0 -50%;
}

.nav__title::after {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    content: "";
    transition: 0.25s;
}

.nav-menu__link::before {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--secondary-color);
    content: "";
    translate: 0 -50%;
    transition: 0.40s ease-in-out;
}

/* Animation */
.nav-menu__link:hover::before {
    width: 100%;
}

.nav__title:hover::after {
    left: var(--font-size-med);
    width: calc(100% - var(--font-size-med));
}